<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="my.rudione.sweetnotes">

    <application
        android:name="my.rudione.sweetnotes.SweetNotesApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_avatar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_avatar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SweetNotes"
        tools:targetApi="31">
        <activity
            android:name="my.rudione.sweetnotes.presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SweetNotes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>